<!--
  Generated template for the UpdateModulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>update-module</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-content padding>
		
	<div *ngIf="moduleToUpdate != null">
	
		<form #updateModuleForm="ngForm" (ngSubmit)="update(updateModuleForm)" >
		
			<div *ngIf="errorMessage" class="errorText">
				{{errorMessage}}
			</div>
			
			<div *ngIf="infoMessage" class="infoText">
				{{infoMessage}}
			</div>
		
			<div>
			
				<div *ngIf="moduleName.invalid && (moduleName.dirty || moduleName.touched || submitted)" class="errorText">
					<div *ngIf="moduleName.errors.required">
						Name is required.
					</div>
				</div>
				
				<div *ngIf="description.invalid && (description.dirty || description.touched || submitted)" class="errorText">
					<div *ngIf="description.errors.required">
						Description is required.
					</div>
				</div>
				
				<div *ngIf="moduleCode.invalid && (moduleCode.dirty || moduleCode.touched || submitted)" class="errorText">
					<div *ngIf="moduleCode.errors.required">
						Module Code is required.
					</div>
				</div>
				
				<div *ngIf="classSize.invalid && (classSize.dirty || classSize.touched || submitted)" class="errorText">
					<div *ngIf="classSize.errors.required">
						Class Szie is required.
					</div>
				</div>
				
				<div *ngIf="examDate.invalid && (examDate.dirty || examDate.touched || submitted)" class="errorText">
					<div *ngIf="examDate.errors.required">
						Exam Date is required.
					</div>
				</div>
				
			</div>					

			<ion-list>
			
				<ion-item>
					<b>Module ID</b>
					{{moduleToUpdate.id}}
				</ion-item>
				
				<ion-item>
					<b>Module Code</b>
					{{moduleToUpdate.moduleCode}}
				</ion-item>
				
				<ion-item>
					<ion-label fixed>Module Name</ion-label>
					<ion-input type="text" id="moduleName" name="moduleName" [(ngModel)]="moduleToUpdate.name" required="true" #moduleName="ngModel"></ion-input>
				</ion-item>
				
				<ion-item>
					<ion-label fixed>Description</ion-label>
					<ion-input type="text" id="description" name="description" [(ngModel)]="moduleToUpdate.description" required="true" #description="ngModel"></ion-input>
				</ion-item>
				
				<ion-item>
					<ion-label fixed>Module Code</ion-label>
					<ion-input type="text" id="moduleCode" name="moduleCode" [(ngModel)]="moduleToUpdate.moduleCode" required="true" #moduleCode="ngModel"></ion-input>
				</ion-item>
				
				<ion-item>
					<ion-label fixed>Class Size</ion-label>
					<ion-input type="text" id="classSize" name="classSize" [(ngModel)]="moduleToUpdate.classSize" required="true" #rclassSize="ngModel"></ion-input>
				</ion-item>
				
				<ion-item>
					<ion-label fixed>Exam Date</ion-label>
					<ion-datetime id="examDate" name="examDate" displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="examDate"></ion-datetime>
				</ion-item>
				
				<ion-item>					
					<button type="submit" ion-button block>
						Update
					</button>
				</ion-item>

			</ion-list>
			
		</form>
	
	</div>

</ion-content>

</ion-content>
