<!--
  Generated template for the UpdateModulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>update-module</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
		
	
		
		
			<div *ngIf="errorMessage" class="errorText">
				{{errorMessage}}
			</div>
			
			<div *ngIf="infoMessage" class="infoText">
				{{infoMessage}}
			</div>
		
			
			<ion-list>
			
				<ion-item>
					<b>Module ID</b>
					<b>{{moduleToUpdate.id}}</b>
				</ion-item>
				
				<ion-item>
					<b>Module Code</b>
					<b>{{moduleToUpdate.moduleCode}}</b>
				</ion-item>
				
				<ion-item>
					<ion-label fixed style="color:white">Module Name</ion-label>
					<ion-input type="text" id="moduleName" name="moduleName" [(ngModel)]="moduleToUpdate.moduleName" required="true" #moduleName="ngModel"></ion-input>
				</ion-item>
				
				<ion-item>
					<ion-label fixed style="color:white">Description</ion-label>
					<ion-input type="text" id="description" name="description" [(ngModel)]="moduleToUpdate.description" required="true" #description="ngModel"></ion-input>
				</ion-item>
				
				<ion-item>
					<ion-label fixed style="color:white">Module Code</ion-label>
					<ion-input type="text" id="moduleCode" name="moduleCode" [(ngModel)]="moduleToUpdate.moduleCode" required="true" #moduleCode="ngModel"></ion-input>
				</ion-item>
				
				<ion-item>
					<ion-label fixed style="color:white">Class Size</ion-label>
					<ion-input type="text" id="classSize" name="classSize" [(ngModel)]="moduleToUpdate.classSize" required="true" #rclassSize="ngModel"></ion-input>
				</ion-item>
				
				<ion-item>
					<ion-label fixed style="color:white">Exam Date</ion-label>
					<ion-datetime id="examDate" name="examDate" displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="examDate"></ion-datetime>
				</ion-item>
				
				<ion-item>					
					<button type="submit" ion-button block>
						Update
					</button>
				</ion-item>

			</ion-list>
			
	

</ion-content>

