<!--
  Generated template for the LogoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="fromPage ==null || isPremium==true">
  <ion-navbar >
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      
    </button>  	
    <ion-title>Logout</ion-title>
  </ion-navbar>
</ion-header>



<ion-header *ngIf="fromPage=='profile' && isPremium==false">
    <ion-toolbar>
        <table width="100%">
            <tr>
                <td width="2%">
                    <ion-buttons start>
                        <button ion-button menuToggle>
                            <ion-icon name="menu"></ion-icon>
                        </button>
                    </ion-buttons>
                </td>
                <ion-title>Logout</ion-title>
            </tr>
        </table>
    </ion-toolbar>
    </ion-header>

<ion-content padding style="color:black;" >

  <h3>You are successfully logged out!</h3>
	
  <p *ngIf="fromPage=='profile' && isPremium==false"> 
  Your premium membership has been cancelled successfully!
  </p>

  <p *ngIf="fromPage=='profile' && isPremium==false"> 
    If you want to renew your premium membership, please log on to web portal->profile management to update!
  </p>
  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
  </ion-slides>
</ion-content>
