<!--
  Generated template for the LogoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="fromPage!='profile' || isPremium==true">
  <ion-navbar >
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      
    </button>  	
    <ion-title>Logout</ion-title>
  </ion-navbar>
</ion-header>


<ion-header *ngIf="fromPage=='profile' && isPremium==false">
  
    <ion-title>Logout</ion-title>
    <p> your premium membership has been cancelled successfully!</p>
    <p> If you want to renew your premium membership, please log on to web portal->profile management to update!</p>
 
</ion-header>



<ion-content padding style="color:black;" >
  
	You are successfully logged out!
</ion-content>
