<!--
  Generated template for the RegisterModulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>register-module</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div *ngIf="infoMessage" style="color:#809555;" class="infoText">
		{{infoMessage}}
	</div>
	<div *ngIf="errorMessage" style="color:#809555;" class="errorText">
		{{errorMessage}}
	</div>
			<ion-item>
				<ion-label fixed style="color:white">Lecturer Id</ion-label>
				<ion-input type="text" id="lecturerId" name="lecturerId" [(ngModel)]="lecturerToAssignId" required="true" ></ion-input>
			</ion-item>
		
			<button ion-button block (click)="registerModuleLecturer()">
				Register 
			</button>


	<ion-searchbar (ionInput)="searchLec($event)"></ion-searchbar>
		<ion-list>
  			<ion-item *ngFor="let lecturer of lecturers">
    			<b>{{lecturer.id}} {{lecturer.name}}</b>
				<p>{{lecturer.faculty}}</p>
  			</ion-item>
		</ion-list>
		
	

</ion-content>
