<!--
  Generated template for the ModuleAssignmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Module Assignment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
			<ion-list-header style="color: black">
	      		<h2>Lecturer List</h2>
	    	</ion-list-header>
	    	
	    	<button ion-item (click)="registerModuleLecturer()">
				<ion-icon name='md-add'></ion-icon>
				Assign New Lecturer
			</button>
				<ion-item *ngFor="let lecturer of lecturers">
			        <ion-thumbnail item-start>
			          <img src="assets/imgs/{{lecturer.photoName}}.jpg">
			        </ion-thumbnail>
			        <h2>{{lecturer.name}}</h2>
			        <p>{{lecturer.faculty}}:{{lecturer.department}}</p>
			        <button ion-button clear item-end (click)="removeLecturer(lecturer)" style="color: white">Remove</button>
			    </ion-item>
			   
		</ion-list>
		<br/>

		<ion-list>
			<ion-list-header style="color: black">
	      		<h2>Teaching Assistant List</h2>
	    	</ion-list-header>

	    	<button ion-item (click)="registerModuleTA()">
				<ion-icon name='md-add'></ion-icon>
				Assign New Teaching Assistant
			</button>
				<ion-item *ngFor="let ta of tas">
			        <ion-thumbnail item-start>
			          <img src="assets/imgs/{{ta.photoName}}.jpg">
			        </ion-thumbnail>
			        <h2>{{ta.name}}</h2>
			        <p>{{ta.faculty}}:{{ta.department}}</p>
			        <button ion-button clear item-end (click)="removeTA(ta)" style="color: white">Remove</button>
			    </ion-item>
		</ion-list>
		<br/>

	
		<ion-list>
			<ion-list-header style="color: black">
	      		<h2>Student List</h2>
	    	</ion-list-header>

	    	<button ion-item (click)="registerModuleStudent()">
				<ion-icon name='md-add'></ion-icon>
				Assign New Student
			</button>
				<ion-item *ngFor="let student of students">
			        <ion-thumbnail item-start>
			          <img src="assets/imgs/{{student.photoName}}.jpg">
			        </ion-thumbnail>
			        <h2>{{student.name}}</h2>
			        <p>{{student.faculty}}:{{student.department}}</p>
			        <button ion-button clear item-end (click)="removeStudent(student)" style="color: white">Remove</button>
			    </ion-item>
		</ion-list>


</ion-content>
