
<ion-header>

  <ion-navbar>
    <ion-title>Facilitators</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div *ngIf="errorMessage" class="errorText">
		{{errorMessage}}
	</div>

	<ion-list>
		<ion-list-header>
      		Lecturers
    	</ion-list-header>
		<a ion-item *ngFor="let lecturer of lecturers" (click)="openModalLecturer($event, lecturer)">
			<ion-icon name='arrow-forward'></ion-icon> <b>{{lecturer.name}}</b>
		</a>
	</ion-list>

	<ion-list>
		<ion-list-header>
      		Teaching Assistants
    	</ion-list-header>
		<a ion-item *ngFor="let ta of tas" (click)="openModalTA($event, ta)">
			<ion-icon name='arrow-forward'></ion-icon> <b>{{ta.name}}</b>
		</a>
	</ion-list>

</ion-content>
