<!--
  Generated template for the StudentAddTimeEntryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar>
    <ion-title>Add TimeEntry</ion-title>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
	<div *ngIf="infoMessage" style="color:#809555;" class="infoText">
		{{infoMessage}}
	</div>
	<div *ngIf="errorMessage" style="color:#809555;" class="errorText">
		{{errorMessage}}
	</div>
	
	<ion-list>
		<ion-list-header style="color:white">
			Add New Time Entry
		</ion-list-header>
		<ion-item>
			<ion-label floating  style="color:white">Title</ion-label>
			<ion-input type="text" [(ngModel)]="timeEntry.title"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating  style="color:white">Start Date</ion-label>
			<ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="timeEntry.fromDate"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label floating  style="color:white">End Date</ion-label>
			<ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="timeEntry.toDate"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label floating style="color:white">Details</ion-label>
			<ion-input type="text" [(ngModel)]="timeEntry.details"></ion-input>
		</ion-item>
		<ion-item>
			<button ion-button block (click)="createTimeEntry()">
				Add
			</button>
		</ion-item>
	</ion-list>		
	
</ion-content>

