<!--
  Generated template for the AdminUserManagementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> 
    <ion-title>adminUserManagement</ion-title>
  </ion-navbar>

</ion-header>


<br/><br/><br/>
	<ion-toolbar no-border-top>
	    <ion-segment [(ngModel)]="userManagement">
	      <ion-segment-button value="Lecturers" style="color:white;" >
	        Lecturers
	      </ion-segment-button>
	      <ion-segment-button value="TAs" style="color:white;">
	        TAs
	      </ion-segment-button>
	      <ion-segment-button value="Students" style="color:white;">
	        Students
	      </ion-segment-button>
	    </ion-segment>
	</ion-toolbar>


<ion-content padding>

	<div [ngSwitch]="userManagement">

	<ion-list *ngSwitchCase="'Lecturers'">
		<br/><br/><br/>
		<div *ngIf="errorMessage" class="errorText">
			{{errorMessage}}
		</div>
		<button ion-item *ngFor="let lecturer of lecturers" (click)="viewLecturer(lecturer)">
			<ion-icon name='arrow-forward'></ion-icon> <b>{{lecturer.id}}:{{lecturer.username}}</b>
			<p>{{lecturer.name}}</p>
		</button>
	</ion-list>

	<ion-list *ngSwitchCase="'TAs'">
		<br/><br/><br/>
		<div *ngIf="errorMessage" class="errorText">
			{{errorMessage}}
		</div>
		<button ion-item *ngFor="let ta of TAs" (click)="viewTA(ta)">
			<ion-icon name='arrow-forward'></ion-icon> <b>{{ta.id}}:{{ta.username}}</b>
			<p>{{ta.name}}</p>
		</button>
	</ion-list>

	<ion-list *ngSwitchCase="'Students'">
		<br/><br/><br/>
		<div *ngIf="errorMessage" class="errorText">
			{{errorMessage}}
		</div>
		<button ion-item *ngFor="let student of students" (click)="viewStudent(student)">
			<ion-icon name='arrow-forward'></ion-icon> <b>{{student.id}}:{{student.username}}</b>
			<p>{{student.name}}</p>
		</button>
	</ion-list>
	
	</div>

</ion-content>
